/*  your css code here. If applicable */
*{
	box-sizing:border-box;
	/* margin:0px; */
	padding:0px;
}
h1{
	margin:10px;
}
.testimonial-container{
	background-color:#f5f5f5;
	/* width:600px; */
	padding:20px;
	
}
.testimonial{
	display:flex;
	justify-content: space-between;
	background-color:white;
	margin:10px;
	padding:10px;
	border:2px solid gray;
}
.author{
	margin-top:15px;
	margin-right:15px;
	text-align:right;
	font-style:italic;
	font-size:16px;
	
}